# Created by .ignore support plugin (hsz.mobi)
!/src/Testing/TestData/mnist_test
!/src/Testing/TestData/mnist_train
!/src/Testing/TestData/mnist_test.csv
!/src/Testing/TestData/mnist_train.csv
!/src/Testing/TestData/TestNetwork4.txt
!/src/Testing/TestData/TestNetwork3.txt
!/src/Testing/TestData/TestNetwork2.txt
!/src/Testing/TestData/TestNetwork1.txt
!/.idea/
bob.txt
