# Created by .ignore support plugin (hsz.mobi)
!/src/testImages/mnist_test
!/src/testImages/mnist_train
!/src/testImages/mnist_test.csv
!/src/testImages/mnist_train.csv
!/src/testImages/TestNetwork4.txt
!/src/testImages/TestNetwork3.txt
!/src/testImages/TestNetwork2.txt
!/src/testImages/TestNetwork1.txt
