# Created by .ignore support plugin (hsz.mobi)
!/src/testImages/mnist_test
!/src/testImages/mnist_train
!/src/testImages/mnist_test.csv
!/src/testImages/mnist_train.csv
!/src/TestNetwork4.txt
!/src/TestNetwork3.txt
!/src/TestNetwork2.txt
!/src/TestNetwork1.txt
